{"openapi":"3.1.0","info":{"title":"Pivity","description":"Welcome to the Pivity API! You can use our API to access Pivity API endpoints, which can be used interact with any Pivity marketplace programmatically.\n\n# Tenant scoping\nRequests to the Pivity API are not scoped to a specific tenant by default. This means you can see and interact with resources from any Pivity marketplace.\nIn order to only see and interact with the resources for a specific marketplace you can provide an `X-Tenant` header. Valid values for this header are:\n- gmodstore.com\n- rust.pivity.com\n\nIf you are using the legacy API URLs, www.gmodstore.com\/api or api.gmodstore.com, you are automatically scoped to the `gmodstore.com` tenant.\n\n# Rate limits\nEvery request you make to the Pivity API will count against your rate limit, which at the time of writing this, is 300 requests \/ minute.\nAn up-to-date value will always provided in the `X-RateLimit-Limit` header\nThe number of requests you have remaining before you must wait is provided in the `X-RateLimit-Remaining` header.\n\n# HTTP query syntax\n## The filter parameter\nWhen using the `filter` query parameter you can pass multiple values using a comma separated list:\n- `?filter[steamId]=a,b`\n\n# Resource abilities\nSome resources in the API have an `abilities` array associated with them. This array contains strings that correspond to certain actions you are allowed to perform on the given resource.\n\n# Resource revisions\nSome resources in the API have `revisionId`, `revisionCreatedAt` and `revisionsCount` fields. These fields tell you something about how many times the given resource has been edited. In some cases you are allowed to view the revision history by calling that resource's revisions endpoint.\n# Validating Webhooks\nEach webhook call includes the `webhook-id`, `webhook-timestamp`, and `webhook-signature` headers for verification. The `webhook-signature` header contains a space-delimited list of signatures and their corresponding version identifiers. To verify the signature, concatenate the id, timestamp, and payload separated by full-stop characters without changing the body. Use HMAC with SHA-256 and the base64 portion of your signing secret (the part after the `whsec_` prefix), which is located on the webhooks dashboard, as the key to calculate the expected signature. This should match one of the signatures in the `webhook-signature` header. Remove the version prefix and delimiter (e.g. `v1,`) before verifying the signature, and use a constant-time string comparison method to prevent timing attacks. To prevent timestamp attacks, compare the `webhook-timestamp` header against your system timestamp and ensure it's within 5 minutes.","version":"3.1.0","x-logo":{"url":"https:\/\/media.gmodstore.com\/_\/build\/img\/pivity\/logo_padded.png","backgroundColor":"#111111","href":"https:\/\/pivity.com"}},"servers":[{"url":"https:\/\/api.pivity.com","description":"The main Pivity API endpoint"}],"paths":{"\/v3\/me":{"get":{"tags":["Users"],"summary":"Fetch the current authenticated user and their access token","operationId":"getMe","responses":{"200":{"description":"Successful response containing the authenticated user and their access token","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetMeResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Me"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}}}},"\/v3\/2fa\/nonces\/totp\/exchange":{"post":{"summary":"Exchange a TOTP code for a Nonce, which can in-turn be used to call protected endpoints.","operationId":"exchangeTotpForNonce","requestBody":{"description":"Response containing the nonce","content":{"application\/json":{"schema":{"title":"ExchangeTotpPayload","type":"object","properties":{"code":{"type":"string","pattern":"^[0-9]{6}$"}}}}}},"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/TwoFactorNonce"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"}},"x-internal":true}},"\/v3\/me\/personal-access-tokens":{"get":{"tags":["Personal Access Tokens"],"summary":"List all the current user's personal access tokens","operationId":"listPersonalAccessTokens","parameters":[{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of personal access tokens","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PersonalAccessToken"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListPersonalAccessTokensResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["personal-access-tokens:read"]}],"x-internal":true},"post":{"tags":["Personal Access Tokens"],"summary":"Create a new personal access token for the current user","operationId":"createPersonalAccessToken","requestBody":{"description":"Payload to create a new personal access token","content":{"application\/json":{"schema":{"title":"NewPersonalAccessTokenPayload","type":"object","required":["name","abilities"],"properties":{"name":{"type":"string","maxLength":100,"minLength":3},"expiresAt":{"format":"date-time","type":["string","null"]},"abilities":{"type":"array","items":{"enum":["permission-groups:read","permission-groups:write","personal-access-tokens:read","personal-access-tokens:write","teams:read","teams:write","team-webhook-endpoints:read","team-webhook-endpoints:write","team-webhook-messages:read","team-users:read","team-users:write","products:read","products:write","product-coupons:read","product-coupons:write","product-purchases:read","product-purchases:write","product-reviews:read","product-reviews:write","product-versions:read","product-versions:write","product-versions:download","product-media:read","product-media:write","users:read","users:write","user-badges:read","user-badges:write","user-bans:read","user-purchases:read","tickets:read","tickets:write","ticket-messages:read","ticket-messages:write","ticket-attachments:read","ticket-attachments:write","ticket-tags:read","ticket-tags:write","*"],"type":"string"},"uniqueItems":true}}}}}},"responses":{"201":{"description":"Successful response containing the newly created personal access token, along with the plain text token","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["personalAccessToken","plainTextToken"],"properties":{"personalAccessToken":{"$ref":"#\/components\/schemas\/PersonalAccessToken"},"plainTextToken":{"type":"string"}}}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["personal-access-tokens:write"]}],"x-internal":true}},"\/v3\/me\/personal-access-tokens\/{personal_access_token}":{"get":{"tags":["Personal Access Tokens"],"summary":"Get a personal access token belonging to the current user","operationId":"getPersonalAccessToken","parameters":[{"name":"personal_access_token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single personal access token","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetPersonalAccessTokenResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/PersonalAccessToken"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["personal-access-tokens:read"]}],"x-internal":true},"put":{"tags":["Personal Access Tokens"],"summary":"Update a personal access token","operationId":"updatePersonalAccessToken","parameters":[{"name":"personal_access_token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the personal access token with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdatePersonalAccessTokenResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/PersonalAccessToken"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["personal-access-tokens:write"]}],"x-internal":true},"delete":{"tags":["Personal Access Tokens"],"summary":"Delete the specified personal access token","operationId":"deletePersonalAccessToken","parameters":[{"name":"personal_access_token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the team that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeleteTeamResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Team"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["personal-access-tokens:write"]}],"x-internal":true}},"\/v3\/permission-groups\/batch":{"get":{"tags":["Permission Groups"],"summary":"Fetch a batch of permission groups by id","operationId":"getPermissionGroups","parameters":[{"name":"ids[]","in":"query","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string"},"maxItems":100}}],"responses":{"200":{"description":"Successful response containing the requested batch of permission groups","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetPermissionGroupsResponse","type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PermissionGroup"}}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["permission-groups:read"]}],"x-internal":true}},"\/v3\/permission-groups":{"get":{"tags":["Permission Groups"],"summary":"List all permission groups","operationId":"listPermissionGroups","parameters":[{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of permission groups","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/PermissionGroup"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListPermissionGroupsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["permission-groups:read"]}],"x-internal":true},"post":{"tags":["Permission Groups"],"summary":"Create a permission group","operationId":"createPermissionGroup","requestBody":{"description":"Payload to create a new permission group","content":{"application\/json":{"schema":{"title":"NewPermissionGroupPayload","type":"object","required":["title","permissions"],"properties":{"title":{"type":"string","maxLength":100,"minLength":3},"permissions":{"format":"json","type":"string"}}}}}},"responses":{"201":{"description":"Successful response containing the newly created permission group","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreatePermissionGroupResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/PermissionGroup"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["permission-groups:write"]}],"x-internal":true}},"\/v3\/permission-groups\/{permission_group}":{"get":{"tags":["Permission Groups"],"summary":"Show the specified permission group","operationId":"getPermissionGroup","parameters":[{"name":"permission_group","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single permission group","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetPermissionGroupResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/PermissionGroup"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["permission-groups:read"]}],"x-internal":true},"put":{"tags":["Permission Groups"],"summary":"Update the specified permission group","operationId":"updatePermissionGroup","parameters":[{"name":"permission_group","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to update an existing permission group","content":{"application\/json":{"schema":{"title":"UpdatePermissionGroupPayload","type":"object","properties":{"title":{"type":"string","maxLength":100,"minLength":3},"permissions":{"format":"json","type":"string"}}}}}},"responses":{"200":{"description":"Successful response containing the permission group with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdatePermissionGroupResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/PermissionGroup"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["permission-groups:write"]}],"x-internal":true},"delete":{"tags":["Permission Groups"],"summary":"Delete the specified permission group","operationId":"deletePermissionGroup","parameters":[{"name":"permission_group","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the permission group that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeletePermissionGroupResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/PermissionGroup"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["permission-groups:write"]}],"x-internal":true}},"\/v3\/teams\/batch":{"get":{"tags":["Teams"],"summary":"Fetch a batch of teams by id","operationId":"getTeams","parameters":[{"name":"ids[]","in":"query","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string"},"maxItems":100}}],"responses":{"200":{"description":"Successful response containing the requested batch of teams","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetTeamsResponse","type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Team"}}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["teams:read"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-endpoints\/test":{"post":{"tags":["Team Webhook Endpoints"],"summary":"Send a test webhook to the endpoints in a team.","operationId":"testTeamWebhookEndpoints","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:write"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-endpoints\/{webhook_endpoint}\/attempts\/{webhook_message}\/resend":{"post":{"tags":["Team Webhook Endpoints"],"summary":"Resend a webhook attempt for an endpoint","operationId":"resendTeamWebhookEndpointAttempt","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_endpoint","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_message","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:write"]}],"x-internal":true}},"\/v3\/teams":{"get":{"tags":["Teams"],"summary":"List all teams","operationId":"listTeams","parameters":[{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of teams","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Team"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTeamsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["teams:read"]}],"x-internal":true},"post":{"tags":["Teams"],"summary":"Create a new team","operationId":"createTeam","requestBody":{"description":"Payload to create a new team","content":{"application\/json":{"schema":{"title":"NewTeamPayload","type":"object","required":["name"],"properties":{"name":{"type":"string","maxLength":50,"minLength":3},"description":{"format":"json","type":"string"}}}}}},"responses":{"201":{"description":"Successful response containing the newly created team","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreateTeamResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Team"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["teams:write"]}],"x-internal":true}},"\/v3\/teams\/{team}":{"get":{"tags":["Teams"],"summary":"Fetch the specified team","operationId":"getTeam","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single team","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetTeamResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Team"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["teams:read"]}]},"put":{"tags":["Teams"],"summary":"Update the specified team","operationId":"updateTeam","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to update an existing team","content":{"application\/json":{"schema":{"title":"UpdateTeamPayload","type":"object","properties":{"name":{"type":"string","maxLength":50,"minLength":3},"description":{"format":"json","type":"string"}}}}}},"responses":{"200":{"description":"Successful response containing the team with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdateTeamResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Team"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["teams:write"]}],"x-internal":true},"delete":{"tags":["Teams"],"summary":"Delete the specified team","operationId":"deleteTeam","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the team that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeleteTeamResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Team"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["teams:write"]}],"x-internal":true}},"\/v3\/teams\/{team}\/users":{"get":{"tags":["Team Users"],"summary":"List all users in a team","operationId":"listTeamUsers","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of team users","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/TeamUser"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTeamUsersResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-users:read"]}]}},"\/v3\/teams\/{team}\/webhook-endpoints":{"get":{"tags":["Team Webhook Endpoints"],"summary":"List all webhook endpoints in a team","operationId":"listTeamWebhookEndpoints","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of team webhook endpoints","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/TeamWebhookEndpoint"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTeamWebhookEndpointsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:read"]}],"x-internal":true},"post":{"tags":["Team Webhook Endpoints"],"summary":"Create a new webhook endpoint for the given team","operationId":"createTeamWebhookEndpoint","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new team webhook endpoint","content":{"application\/json":{"schema":{"title":"NewTeamWebhookEndpointPayload","type":"object","required":["url"],"properties":{"url":{"format":"uri","type":"string","maxLength":65536},"description":{"type":["string","null"],"maxLength":65536},"filterTypes":{"type":["array","null"],"items":{"enum":["product_purchase.created","product_purchase.deleted","product_purchase.revoked","product_purchase.unrevoked","product_review.created","product_review.deleted","product_review.updated","product_version.created","product_version.deleted","product_version.updated","ticket_attachment.created","ticket_attachment.deleted","ticket_message.created","ticket_message.deleted","ticket_message.restored","ticket_message.updated","ticket.created","ticket.held","ticket.hidden","ticket.locked","ticket.tagged","ticket.unheld","ticket.unhidden","ticket.unlocked","ticket.untagged"],"type":"string"},"minItems":1,"uniqueItems":true},"channels":{"type":["array","null"],"items":{"type":"string"},"maxItems":100,"minItems":1,"uniqueItems":true}}}}}},"responses":{"201":{"description":"Successful response containing the newly created team webhook endpoint","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreateTeamWebhookEndpointResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/TeamWebhookEndpoint"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:write"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-endpoints\/{webhook_endpoint}":{"get":{"tags":["Team Webhook Endpoints"],"summary":"Fetch a webhook endpoint","operationId":"getTeamWebhookEndpoint","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_endpoint","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single team webhook endpoint","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetTeamWebhookEndpointResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/TeamWebhookEndpoint"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:read"]}],"x-internal":true},"put":{"tags":["Team Webhook Endpoints"],"summary":"Update a webhook endpoint","operationId":"updateTeamWebhookEndpoint","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_endpoint","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to update an existing team webhook endpoint","content":{"application\/json":{"schema":{"title":"UpdateTeamWebhookEndpointPayload","type":"object","required":["url","disabled"],"properties":{"url":{"format":"uri","type":"string","maxLength":65536},"description":{"type":["string","null"]},"filterTypes":{"type":["array","null"],"items":{"enum":["product_purchase.created","product_purchase.deleted","product_purchase.revoked","product_purchase.unrevoked","product_review.created","product_review.deleted","product_review.updated","product_version.created","product_version.deleted","product_version.updated","ticket_attachment.created","ticket_attachment.deleted","ticket_message.created","ticket_message.deleted","ticket_message.restored","ticket_message.updated","ticket.created","ticket.held","ticket.hidden","ticket.locked","ticket.tagged","ticket.unheld","ticket.unhidden","ticket.unlocked","ticket.untagged"],"type":"string"},"minItems":1,"uniqueItems":true},"channels":{"type":["array","null"],"items":{"type":"string"},"minItems":1,"uniqueItems":true},"disabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response containing the team webhook endpoint with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdateTeamWebhookEndpointResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/TeamWebhookEndpoint"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:write"]}],"x-internal":true},"delete":{"tags":["Team Webhook Endpoints"],"summary":"Delete webhook endpoint","operationId":"deleteTeamWebhookEndpoint","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_endpoint","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the team webhook endpoint that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeleteTeamWebhookEndpointResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/TeamWebhookEndpoint"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:write"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-endpoints\/{webhook_endpoint}\/secret":{"get":{"tags":["Team Webhook Endpoints"],"summary":"Fetch the secret for the given webhook endpoint.","operationId":"getTeamWebhookEndpointSecret","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_endpoint","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single webhook endpoint secret","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetWebhookEndpointSecretResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/WebhookEndpointSecret"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:read"]}],"x-internal":true},"put":{"tags":["Team Webhook Endpoints"],"summary":"Update the secret for the given webhook endpoint.","operationId":"updateTeamWebhookEndpointSecret","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_endpoint","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the webhook endpoint secret with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdateWebhookEndpointSecretResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/WebhookEndpointSecret"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:write"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-endpoints\/{webhook_endpoint}\/attempts":{"get":{"tags":["Team Webhook Endpoints"],"summary":"List all webhook attempts for an endpoint","operationId":"listTeamWebhookEndpointAttempts","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_endpoint","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of team webhook message attempts","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/TeamWebhookMessageAttempt"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTeamWebhookMessageAttemptsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-endpoints:read"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-messages":{"get":{"tags":["Team Webhook Messages"],"summary":"List all webhook messages","operationId":"listTeamWebhookMessages","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of team webhook messages","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/TeamWebhookMessage"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTeamWebhookMessagesResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-messages:read"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-messages\/{webhook_message}":{"get":{"tags":["Team Webhook Messages"],"summary":"Fetch a webhook message","operationId":"getTeamWebhookMessage","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_message","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single team webhook message","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetTeamWebhookMessageResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/TeamWebhookMessage"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-messages:read"]}],"x-internal":true}},"\/v3\/teams\/{team}\/webhook-messages\/{webhook_message}\/attempts":{"get":{"tags":["Team Webhook Messages"],"summary":"List all attempts for a webhook message","operationId":"listTeamWebhookMessageAttempts","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"webhook_message","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of team webhook attempts","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/TeamWebhookAttempt"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTeamWebhookAttemptsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["team-webhook-messages:read"]}],"x-internal":true}},"\/v3\/products\/batch":{"get":{"tags":["Products"],"summary":"Get a batch of products by id","operationId":"getProducts","parameters":[{"name":"ids[]","in":"query","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string"},"maxItems":100}}],"responses":{"200":{"description":"Successful response containing the requested batch of products","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetProductsResponse","type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Product"}}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["products:read"]}],"x-internal":true}},"\/v3\/products\/{product}\/coupons":{"get":{"tags":["Product Coupons"],"summary":"List all coupons for a product","operationId":"listProductCoupons","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/ProductCouponFilter"}}],"responses":{"200":{"description":"Successful response containing a list of product coupons","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductCoupon"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListProductCouponsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-coupons:read"]}]},"post":{"tags":["Product Coupons"],"summary":"Create a coupon for a product","operationId":"createProductCoupon","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new product coupon","content":{"application\/json":{"schema":{"title":"NewProductCouponPayload","type":"object","required":["percent","code","maxUses","expiresAt"],"properties":{"percent":{"type":"integer","maximum":90,"minimum":1},"code":{"type":"string","pattern":"[aA-zZ_\\-0-9]+","maxLength":64},"maxUses":{"type":"integer","maximum":100,"minimum":1},"expiresAt":{"format":"date-time","type":"string"},"boundUserId":{"format":"uuid","type":["string","null"]}}}}}},"responses":{"201":{"description":"Successful response containing the newly created product coupon","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreateProductCouponResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductCoupon"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-coupons:write"]}]}},"\/v3\/products\/{product}\/coupons\/{coupon}":{"get":{"tags":["Product Coupons"],"summary":"Show the specified coupon for a product","operationId":"getProductCoupon","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"coupon","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single product coupon","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetProductCouponResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductCoupon"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-coupons:read"]}]},"put":{"tags":["Product Coupons"],"summary":"Update the specified coupon for a product","operationId":"updateProductCoupon","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"coupon","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to update an existing product coupon","content":{"application\/json":{"schema":{"title":"UpdateProductCouponPayload","type":"object","properties":{"percent":{"type":"integer","maximum":90,"minimum":1},"code":{"type":"string","pattern":"[aA-zZ_\\-0-9]+","maxLength":64},"maxUses":{"type":"integer","maximum":100,"minimum":1},"expiresAt":{"format":"date-time","type":"string"},"boundUserId":{"format":"uuid","type":["string","null"]}}}}}},"responses":{"200":{"description":"Successful response containing the product coupon with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdateProductCouponResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductCoupon"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-coupons:write"]}]},"delete":{"tags":["Product Coupons"],"summary":"Delete the specified coupon for a product","operationId":"deleteProductCoupon","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"coupon","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the product coupon that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeleteProductCouponResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductCoupon"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-coupons:write"]}]}},"\/v3\/products\/{product}\/purchases":{"get":{"tags":["Product Purchases"],"summary":"List all purchases for a product","operationId":"listProductPurchases","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/ProductPurchaseFilter"}}],"responses":{"200":{"description":"Successful response containing a list of product purchases","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductPurchase"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListProductPurchasesResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-purchases:read"]}]},"post":{"tags":["Product Purchases"],"summary":"Create a purchase for a product","operationId":"createProductPurchase","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new product purchase","content":{"application\/json":{"schema":{"title":"NewProductPurchasePayload","type":"object","required":["userId"],"properties":{"userId":{"format":"uuid","type":"string"}}}}}},"responses":{"201":{"description":"Successful response containing the newly created product purchase","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreateProductPurchaseResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductPurchase"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-purchases:write"]}]}},"\/v3\/products\/{product}\/purchases\/{purchase}":{"get":{"tags":["Product Purchases"],"summary":"Show the specified purchase for a product","operationId":"getProductPurchase","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"purchase","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single product purchase","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetProductPurchaseResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductPurchase"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-purchases:read"]}]},"put":{"tags":["Product Purchases"],"summary":"Update the specified purchase for a product","operationId":"updateProductPurchase","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"purchase","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to update an existing product purchase","content":{"application\/json":{"schema":{"title":"UpdateProductPurchasePayload","type":"object","properties":{"revoked":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response containing the product purchase with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdateProductPurchaseResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductPurchase"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-purchases:write"]}]}},"\/v3\/products\/{product}\/reviews":{"get":{"tags":["Product Reviews"],"summary":"List all reviews for a product","operationId":"listProductReviews","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/ProductReviewFilter"}}],"responses":{"200":{"description":"Successful response containing a list of product reviews","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductReview"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListProductReviewsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-reviews:read"]}]}},"\/v3\/products\/{product}\/reviews\/{review}":{"get":{"tags":["Product Reviews"],"summary":"Show the specified review for a product","operationId":"getProductReview","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"review","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single product review","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetProductReviewResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductReview"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-reviews:read"]}]}},"\/v3\/products\/{product}\/tickets":{"get":{"tags":["Product Tickets"],"summary":"List all tickets for a product","operationId":"listProductTickets","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","schema":{"$ref":"#\/components\/schemas\/TicketFilter"}}],"responses":{"200":{"description":"Successful response containing a list of tickets","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Ticket"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTicketsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["tickets:read"]}]}},"\/v3\/products\/{product}\/versions":{"get":{"tags":["Product Versions"],"summary":"List all versions for a product","operationId":"listProductVersions","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/ProductVersionFilter"}}],"responses":{"200":{"description":"Successful response containing a list of product versions","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductVersion"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListProductVersionsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-versions:read"]}]},"post":{"tags":["Product Versions"],"summary":"Create a version for a product","operationId":"createProductVersion","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new product version","content":{"multipart\/form-data":{"schema":{"title":"NewProductVersionPayload","type":"object","required":["name","changelog","file","releaseType"],"properties":{"name":{"type":"string","maxLength":80},"changelog":{"type":"string","maxLength":10000},"file":{"format":"binary","type":"string","maxLength":75000},"releaseType":{"enum":["stable","beta","alpha","private","demo"],"type":"string"}}},"encoding":{"file":{"contentType":"application\/zip,application\/x-zip,application\/x-zip-compressed"}}}}},"responses":{"201":{"description":"Successful response containing the newly created product version","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreateProductVersionResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductVersion"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-versions:write"]}]}},"\/v3\/products\/{product}\/versions\/{version}":{"get":{"tags":["Product Versions"],"summary":"Show the specified version for a product","operationId":"getProductVersion","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single product version","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetProductVersionResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductVersion"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-versions:read"]}]},"put":{"tags":["Product Versions"],"summary":"Update the specified version for a product","operationId":"updateProductVersion","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to update an existing product version","content":{"application\/json":{"schema":{"title":"UpdateProductVersionPayload","type":"object","properties":{"name":{"type":"string","maxLength":80},"changelog":{"type":"string","maxLength":10000},"release_type":{"enum":["stable","beta","alpha","private","demo"],"type":"string"}}}}}},"responses":{"200":{"description":"Successful response containing the product version with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdateProductVersionResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductVersion"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-versions:write"]}]},"delete":{"tags":["Product Versions"],"summary":"Delete the specified version for a product","operationId":"deleteProductVersion","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the product version that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeleteProductVersionResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductVersion"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-versions:write"]}]}},"\/v3\/products\/{product}\/versions\/{version}\/download":{"post":{"tags":["Product Versions"],"summary":"Get a one time use url for downloading a product","operationId":"getProductDownloadUrl","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a download url","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DownloadProductVersionResponse","type":"object","required":["data"],"properties":{"data":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}}}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["product-versions:download"]}]}},"\/v3\/products\/{product}\/media":{"get":{"tags":["Product Media"],"summary":"List all media for a product","operationId":"listProductMedia","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of product media","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductMedium"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListProductMediaResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:read"]}]},"post":{"tags":["Product Media"],"summary":"Create a medium for a product","description":"If `type` is `image` then the `image` field will be required.\n\nIf `type` is `video` then the `video` field will be required.\n\nIf `type` is `youtube` then the `youtube` field will be required.","operationId":"createProductMedium","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new product medium","content":{"multipart\/form-data":{"schema":{"title":"NewProductMediumPayload","type":"object","required":["title","type"],"properties":{"title":{"type":"string","maxLength":125},"tenantId":{"format":"uuid","type":["string","null"]},"type":{"enum":["image","youtube","video"],"type":"string"},"youtube":{"type":["string","null"],"maxLength":125},"image":{"format":"binary","type":["string","null"],"maxLength":8000},"video":{"format":"binary","type":["string","null"],"maxLength":8000}}},"encoding":{"image":{"contentType":"image\/jpeg,image\/pjpeg,image\/png,image\/apng,image\/vnd.mozilla.apng,image\/jpeg,image\/pjpeg"},"video":{"contentType":"video\/mp4,application\/mp4,video\/mp4v-es,video\/x-m4v,video\/webm"}}}}},"responses":{"201":{"description":"Successful response containing the newly created product medium","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreateProductMediumResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductMedium"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:write"]}]}},"\/v3\/products\/{product}\/media\/{medium}":{"get":{"tags":["Product Media"],"summary":"Get the specified medium for a product","operationId":"getProductMedium","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"medium","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single product medium","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetProductMediumResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductMedium"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:read"]}]},"put":{"tags":["Product Media"],"summary":"Update the specified medium for a product","operationId":"updateProductMedia","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"medium","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to update an existing product medium","content":{"application\/json":{"schema":{"title":"UpdateProductMediumPayload","type":"object","required":["title"],"properties":{"title":{"type":"string","maxLength":125},"tenantId":{"format":"uuid","type":["string","null"]}}}}}},"responses":{"200":{"description":"Successful response containing the product medium with changes applied","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"UpdateProductMediumResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/ProductMedium"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:write"]}]},"delete":{"tags":["Product Media"],"summary":"Delete the specified medium for a product","operationId":"deleteProductMedium","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}},{"name":"medium","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the team that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeleteTeamResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Team"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:write"]}]}},"\/v3\/products\/{product}\/media\/background":{"post":{"tags":["Product Media"],"summary":"Upload\/replace the background image for a product.","description":"The image must be 1920 x 670px.","operationId":"uploadProductBackground","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new media upload","content":{"application\/json":{"schema":{"title":"NewMediaUploadPayload","type":"object","required":["file"],"properties":{"file":{"format":"binary","type":"string","maxLength":5000}}}}}},"responses":{"200":{"description":"Successful response containing a media url","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"ProductMediaGenericUploadResponse","type":"object","required":["data"],"properties":{"data":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}}}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:write"]}],"x-internal":true}},"\/v3\/products\/{product}\/media\/page-header":{"post":{"tags":["Product Media"],"summary":"Upload\/replace the page header image for a product.","description":"The image must be 920 x 260px.","operationId":"uploadProductPageHeader","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new media upload","content":{"application\/json":{"schema":{"title":"NewMediaUploadPayload","type":"object","required":["file"],"properties":{"file":{"format":"binary","type":"string","maxLength":5000}}}}}},"responses":{"200":{"description":"Successful response containing a media url","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"ProductMediaGenericUploadResponse","type":"object","required":["data"],"properties":{"data":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}}}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:write"]}],"x-internal":true}},"\/v3\/products\/{product}\/media\/big-header":{"post":{"tags":["Product Media"],"summary":"Upload\/replace the big header image for a product.","description":"The image must be 900 x 415px.","operationId":"uploadProductBigHeader","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new media upload","content":{"application\/json":{"schema":{"title":"NewMediaUploadPayload","type":"object","required":["file"],"properties":{"file":{"format":"binary","type":"string","maxLength":5000}}}}}},"responses":{"200":{"description":"Successful response containing a media url","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"ProductMediaGenericUploadResponse","type":"object","required":["data"],"properties":{"data":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}}}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:write"]}],"x-internal":true}},"\/v3\/products\/{product}\/media\/listing-header":{"post":{"tags":["Product Media"],"summary":"Upload\/replace the listing image for a product.","description":"The image must be 280 x 120px.","operationId":"uploadProductListingHeader","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new media upload","content":{"application\/json":{"schema":{"title":"NewMediaUploadPayload","type":"object","required":["file"],"properties":{"file":{"format":"binary","type":"string","maxLength":5000}}}}}},"responses":{"200":{"description":"Successful response containing a media url","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"ProductMediaGenericUploadResponse","type":"object","required":["data"],"properties":{"data":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}}}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["product-media:write"]}],"x-internal":true}},"\/v3\/teams\/{team}\/products":{"get":{"tags":["Products"],"summary":"List all products for a team","operationId":"listProducts","parameters":[{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/ProductFilter"}}],"responses":{"200":{"description":"Successful response containing a list of products","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Product"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListProductsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["products:read"]}]}},"\/v3\/products\/{product}":{"get":{"tags":["Products"],"summary":"Get the specified product","operationId":"getProduct","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single product","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetProductResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/Product"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["products:read"]}]}},"\/v3\/users\/batch":{"get":{"tags":["Users"],"summary":"Fetch a batch of users by id","operationId":"getUsers","parameters":[{"name":"ids[]","in":"query","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string"},"maxItems":100}}],"responses":{"200":{"description":"Successful response containing the requested batch of users","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetUsersResponse","type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/User"}}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["users:read"]}],"x-internal":true}},"\/v3\/users":{"get":{"tags":["Users"],"summary":"List all users","operationId":"listUsers","parameters":[{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/UserFilter"}}],"responses":{"200":{"description":"Successful response containing a list of users","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/User"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListUsersResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["users:read"]}]}},"\/v3\/users\/{user}":{"get":{"tags":["Users"],"summary":"Fetch the specified user","operationId":"getUser","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a single user","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"GetUserResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/User"}}}}}},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"}},"security":[{"PersonalAccessToken":["users:read"]}]}},"\/v3\/users\/{user}\/teams":{"get":{"tags":["User Teams"],"summary":"List all the specified user's teams","operationId":"listUserTeams","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of teams","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Team"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListTeamsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["teams:read"]}]}},"\/v3\/users\/{user}\/products":{"get":{"tags":["User Products"],"summary":"List all the specified user's products","operationId":"listUserProducts","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/ProductFilter"}}],"responses":{"200":{"description":"Successful response containing a list of products","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Product"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListProductsResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["products:read"]}]}},"\/v3\/users\/{user}\/badges":{"get":{"tags":["User Badges"],"summary":"List all the specified user's badges","operationId":"listUserBadges","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing a list of user badges","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/UserBadge"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListUserBadgesResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["user-badges:read"]}],"x-internal":true},"post":{"tags":["User Badges"],"summary":"Attach a badge to a user","operationId":"createUserBadge","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload to create a new user badge","content":{"application\/json":{"schema":{"title":"NewUserBadgePayload","type":"object","required":["badge_id"],"properties":{"badge_id":{"enum":["aspiring","beta","bought","coal","contribution","crown","developer","discord-booster","download","ex-staff","favourites","featured","first-purchase","forum-post","job","kawaii","negotiated","product-submit","pug","push","received-message","shiba","sponsor","staff"],"type":"string"}}}}}},"responses":{"201":{"description":"Successful response containing the newly created user badge","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"CreateUserBadgeResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/UserBadge"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["user-badges:write"]}],"x-internal":true}},"\/v3\/users\/{user}\/badges\/{badge}":{"delete":{"tags":["User Badges"],"summary":"Detach a badge from a user","operationId":"deleteUserBadge","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"badge","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response containing the user badge that was just deleted","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"title":"DeleteUserBadgeResponse","type":"object","required":["data"],"properties":{"data":{"$ref":"#\/components\/schemas\/UserBadge"}}}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["user-badges:write"]}],"x-internal":true}},"\/v3\/users\/{user}\/bans":{"get":{"tags":["User Bans"],"summary":"List all the specified user's bans","operationId":"listUserBans","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/UserBanFilter"}}],"responses":{"200":{"description":"Successful response containing a list of user bans","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/UserBan"}}}},{"$ref":"#\/components\/schemas\/ConnectionPaginated"}],"title":"ListUserBansResponse"}}}},"400":{"$ref":"#\/components\/responses\/ErrorBadRequest"},"401":{"$ref":"#\/components\/responses\/ErrorUnauthorized"},"403":{"$ref":"#\/components\/responses\/ErrorForbidden"},"404":{"$ref":"#\/components\/responses\/ErrorNotFound"}},"security":[{"PersonalAccessToken":["user-bans:read"]}]}},"\/v3\/users\/{user}\/purchases":{"get":{"tags":["User Product Purchases"],"summary":"List all the specified user's purchases","operationId":"listUserPurchases","parameters":[{"name":"user","in":"path","required":true,"schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"schema":{"description":"The number of items to return per page","default":24,"type":["integer","null"],"maximum":100,"minimum":1}},{"name":"cursor","in":"query","description":"The cursor from which to return paginated results starting after","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter the results","style":"deepObject","schema":{"$ref":"#\/components\/schemas\/ProductPurchaseFilter"}}],"responses":{"200":{"description":"Successful response containing a list of product purchases","headers":{"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-Ratelimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-Ratelimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-Ratelimit-Reset"}},"content":{"application\/json":{"schema":{"allOf":[{"type":"object","required":["data"],"properties":{"data
[...]
